./Week1/ny_taxi_postgres_data/base
./Week1/terraform_gcp/.terraform/providers/registry.terraform.io/hashicorp/google/4.49.0/windows_386/terraform-provider-google_v4.49.0_x5.exe
./Week1/terraform_gcp/.terraform/providers/registry.terraform.io/hashicorp/google/4.50.0/windows_386/terraform-provider-google_v4.50.0_x5.exe